PRIVATE_KEY=0xyour_private_key
MONAD_RPC_URL=https://rpc.monad.xyz
MONAD_CHAIN_ID=143
ETHERSCAN_API_KEY=your_etherscan_v2_api_key

NEXT_PUBLIC_CONTRACT_ADDRESS=0xyour_deployed_contract
NEXT_PUBLIC_MONAD_RPC_URL=https://rpc.monad.xyz
NEXT_PUBLIC_MONAD_CHAIN_ID=143
